body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: red;
}

.next{
  padding: 20px 25px;
  position: absolute;
  left: 1448px;
  top: 775px;
  background-color: lightgreen;
  cursor: pointer;
}

.prev{
  padding: 20px 25px;
  position: absolute;
  left: 5px;
  top: 775px;
  background-color: lightgreen;
  cursor: pointer;
}